
<ion-card class="ion-toolbar">

  <ion-item class="ion-toolbar" lines="none">
    <ion-avatar slot='start'>
      <img src="../../../assets/img/sofia.png">
    </ion-avatar>
    <ion-label class="text"> 
        <p>YaminYassin</p>
    </ion-label>
 
    <ion-label class="text">
      <div class="ion-text-end">
        <h1>8.7</h1>
      </div>
    </ion-label>
  </ion-item>


  <ion-card-content>
    Odyssey looks like a straight successor to the Mario 64 and Sunshine line of sandbox 3D Marios, but it is much more than that. Naturally, it evokes, honors, and is sometimes directly inspired by the games  that came before it in its characters, music, and mechanics.
  </ion-card-content>

  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-card>