<ion-card class="ion-toolbar">
  <ion-card-header>
    <div class="review-header">
      <div class="review-avatar-name">
        <ion-avatar>
          <img src="{{ review.avatar }}" alt="" />
        </ion-avatar>
        <ion-text color="dark">
          <p class="username">{{ review.username }}</p>
        </ion-text>
      </div>

      <ion-text class="score">
        <h3>{{ review.score }}</h3>
      </ion-text>
    </div>

    <!--   <ion-row class="review-header ion-align-items-center">
      <ion-col size="2">
        <ion-avatar>
          <img src="{{ review.avatar }}" alt="" />
        </ion-avatar>
      </ion-col>

      <ion-col size="6" class="username">
        <strong>{{ review.username }}</strong>
      </ion-col>

      <ion-col size="4" >
        <strong>{{ review.score }}</strong>
      </ion-col>
    </ion-row> -->
  </ion-card-header>

  <ion-card-content>
    {{ review.description }}
  </ion-card-content>

  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card>
