<ion-card class="ion-toolbar">
  <ion-card-content class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="4" button (click)="showScore()">
        <img src="{{ review.cover }}" alt="" class="cover" *ngIf="!score" />
        <div *ngIf="score">
          <img src="{{ review.cover }}" alt="" class="cover-score" />
          <h2 class="score">{{ review.score }}</h2>
        </div>
      </ion-col>

      <ion-col size="8" (click)="navigate()">
        <ion-row>
          <h2>{{ review.name }}</h2>
        </ion-row>
        <ion-row class="description"> {{ review.description }}</ion-row>
        <ion-row>
          <ion-text color="primary"> Read full review... </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
