.profileDescription {
}

.avatar {
  border-radius: 50%;
  max-width: 60px;
}

.description {
  opacity: 0.9;
}

.center-stats {
  text-align: center;
}

.segment {
  position: sticky !important;
  top: 0 !important;
  z-index: 999;
  background-color: white;
}
