<ion-header>
  <ion-toolbar>
    <!-- BACK BUTTON -->
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="loaded">{{user.username}}</ion-title>
    <!-- ADD FRIEND BUTTON  -->
    <ion-buttons slot="end">
      <ion-button (click)="add()" *ngIf="!isSelf && !isFriend">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="remove()" *ngIf="!isSelf && isFriend">
        <ion-icon name="person-remove-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="profileDescription">
    <ion-row class="ion-padding-horizontal ion-align-items-center">
      <!----------------------- Profile Photo -------------------->
      <ion-col size="3">
        <img src="{{user.avatar}}" alt="" class="avatar" />
      </ion-col>
      <!----------------------- Profile Stats ------------------>
      <ion-col size="9">
        <ion-row>
          <ion-col>
            <div class="center-stats">
              <div><strong>Games</strong></div>
              <div>{{ngames}}</div>
            </div>
          </ion-col>
          <ion-col>
            <div class="center-stats">
              <div><strong>Achievements</strong></div>
              <div>{{user.achievements}}</div>
            </div>
          </ion-col>
          <ion-col>
            <div class="center-stats">
              <div><strong>Friends</strong></div>
              <div>{{nfriends}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!------------------ Profile Description ---------------->
    <ion-row class="ion-padding-horizontal">
      <strong>{{user.name}}</strong>
    </ion-row>
    <ion-row class="ion-margin">
      <div class="description">{{user.description}}</div>
    </ion-row>
  </div>

  <div class="profileContent">
    <ion-segment
      class="segment"
      [(ngModel)]="selectedSegment"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="games">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="posts">
        <ion-icon name="image-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="reviews">
        <ion-icon name="book-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <!-- GAME SEGMENT -->
    <div *ngIf="selectedSegment === 'games'">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" *ngFor="let game of games">
            <app-game-player [data]="game"></app-game-player>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- POST SEGMENT -->
    <div *ngIf="selectedSegment === 'posts'">
      <app-post *ngFor="let post of posts" [data]="post"> </app-post>

      <ion-infinite-scroll
        threshold="30px"
        (ionInfinite)="getMorePosts($event)"
      >
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <!-- REVIEW SEGMENT -->
    <div *ngIf="selectedSegment === 'reviews'">
      <app-post *ngFor="let review of reviews" [data]="review"></app-post>

      <ion-infinite-scroll
        threshold="30px"
        (ionInfinite)="getMoreReviews($event)"
      >
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
