<ion-card class="ion-toolbar">

  <div>
    <ion-thumbnail slot="start" class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Prey_cover_art.jpg/220px-Prey_cover_art.jpg">
    </ion-thumbnail>
   
    <ion-label>
      
      <h1>Game Name</h1>
      <div>
        <p>Review Date: </p>
        <p>Score: </p>
      </div>

    </ion-label>
   
    

    <ion-label class="text">
      <div class="ion-text-end">
        <h1>8.7</h1>
      </div>
    </ion-label>
  </div>


  <ion-card-content>
    Review Player
  </ion-card-content>

  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-card>