ion-slides {
  height: 100%;
}

ion-textarea {
  --background: var(--ion-color-light);
  --padding-start: 12px;
  --padding-end: 12px;

  border-radius: 16px;
}

ion-toolbar ion-avatar {
  margin-right: 8px;
  padding: 5px;
}

.game-images {
  height: 65%;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
