<ion-content *ngIf="isLoaded">
  <!-- BACK BUTTON -->
  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button size="small" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" *ngIf="!isAdded">
    <ion-fab-button size="small" translucent (click)="addGame()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" *ngIf="isAdded">
    <ion-fab-button size="small" translucent (click)="removeGame()">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="game-images">
    <!-- images -->
    <ion-slides>
      <ion-slide *ngFor="let image of game.images">
        <img src="{{image}}" alt="" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="ion-padding-horizontal">
    <div class="ion-padding-vertical">
      <div class="game-container">
        <div>
          <div class="tittle">{{game.name}}</div>
          <div class="studio">{{game.studio}}</div>
        </div>

        <div class="score-large">{{game.score}}</div>
      </div>
      <hr />
    </div>

    <div class="ion-padding-vertical">
      <div class="section">General Information</div>
      <hr />
      <p>
        <span class="semi-bold">Release Date:</span>
        {{game['release-date'].replace(';', '')}}
      </p>
      <p><span class="semi-bold">Available On:</span> {{game.platforms}}</p>
      <p><span class="semi-bold">Genre:</span> {{game.genre}}</p>
    </div>

    <div class="ion-padding-vertical">
      <div>
        <div class="section">Reviews</div>
        <hr />
      </div>
      <div>
        <app-post *ngFor="let rev of reviews" [data]="rev"></app-post>

        <ion-infinite-scroll
          threshold="30px"
          (ionInfinite)="getMoreReviews($event)"
        >
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
          ></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="{{fire.myProfile.avatar}}" alt="" />
    </ion-avatar>

    <ion-textarea
      rows="1"
      autoGrow="true"
      inputmode="text"
      minlength="1"
      wrap="soft"
      maxlength="240"
      placeholder="Add Review..."
      (ionFocus)="gotoReview()"
    >
    </ion-textarea>
  </ion-toolbar>
</ion-footer>
