.error-message {
  color: var(--ion-color-danger);
  text-align: center;
  margin-top: 10px;
  font-size: small;
}

.center-text {
  text-align: center;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
}
