<ion-header>
  <ion-toolbar>
    <ion-input
      placeholder="Search for Game or Player..."
      readonly="true"
      button
    ></ion-input>
  </ion-toolbar>
  <div>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </div>
</ion-header>

<ion-content>
  <ion-list class="new-arrivals">
    <ion-list-header> <h1>New Arrivals</h1> </ion-list-header>

    <ion-slides [options]="slideOpts" (ionSlideReachEnd)="getMoreGames()">
      <ion-slide *ngFor="let game of games"
        ><app-game-player [data]="game"></app-game-player>
      </ion-slide>
    </ion-slides>
  </ion-list>

  <ion-list>
    <ion-list-header> <h1>Reviews</h1> </ion-list-header>
    <app-post *ngFor="let rev of reviews" [data]="rev"></app-post>

    <ion-infinite-scroll
      threshold="30px"
      (ionInfinite)="getMoreReviews($event)"
    >
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
