<ion-header>
  <ion-toolbar>
    <ion-button (click)="logout()" slot="end" class="ion-padding-horizontal">
      <ion-label>Logout</ion-label>
    </ion-button>

    <ion-title>Home</ion-title>
  </ion-toolbar>
  <div>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </div>
</ion-header>

<ion-content>
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loaded">
    <app-post *ngFor="let rev of content" [data]="rev"></app-post>
  </div>
</ion-content>
