<ion-card class="post">
  <!-- PROFILE INFO -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="{{ data.avatar }}" alt="" />
    </ion-avatar>
    <ion-label>
      <p>YaminYassin</p>
    </ion-label>
    <ion-text slot="end" *ngIf="data.score != null">
      <ion-label>10</ion-label>
    </ion-text>
  </ion-item>

  <!-- IMAGE  -->
  <img src="{{ data.photo }}" alt="" *ngIf="data.photo != null" />

  <!-- INTERACTIONS -->

  <!-- DESCRIPTION -->
  <ion-card-content>
    {{ data.description }}
  </ion-card-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <!-- inserir uma acao no click aqui -->
        <ion-label class="ion-text-wrap">Reply</ion-label>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
      <ion-label>{{ data.score }}</ion-label>
      <ion-button>
        <ion-icon name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card>
