<ion-card class="post" button (click)="navigateComment()">
  <!-- PROFILE INFO -->
  <ion-item lines="none" button (click)="navigateProfile()">
    <ion-avatar slot="start">
      <img src="{{ data.avatar }}" alt="" />
    </ion-avatar>
    <ion-label>
      <p>YaminYassin</p>
    </ion-label>
    <ion-text slot="end" *ngIf="data.score != null">
      <ion-label>10</ion-label>
    </ion-text>
  </ion-item>

  <!-- IMAGE  -->
  <img src="{{ data.photo }}" alt="" *ngIf="data.photo != null" />

  <!-- DESCRIPTION -->
  <ion-card-content>
    {{ data.description }}
  </ion-card-content>

  <!-- INTERACTIONS -->
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <!-- inserir uma acao no click aqui -->
        <ion-label class="ion-text-wrap">comments here</ion-label>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-label>likes here</ion-label>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card>
