<ion-list>
  <ion-item button>
    <ion-label> Change avatar</ion-label>
  </ion-item>

  <ion-item button>
    <ion-label> Change description</ion-label>
  </ion-item>

  <ion-item button>
    <ion-label> Change Name</ion-label>
  </ion-item>

  <ion-item button>
    <ion-label> Change username</ion-label>
  </ion-item>

  <ion-item button>
    <ion-label> Change privacy settings</ion-label>
  </ion-item>

  <ion-item button lines="none" (click)="logout()">
    <ion-text color="danger">
      <ion-label> Logout </ion-label>
    </ion-text>
  </ion-item>
</ion-list>
